<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @(#) CityMapper.xml
  ~ 版权声明 厦门畅享信息技术有限公司, 版权所有 违者必究
  ~
  ~ <br> Copyright:  Copyright (c) 2018
  ~ <br> Company:厦门畅享信息技术有限公司
  ~ <br> @author huang
  ~ <br> 2018-05-07 17:06:42
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bootdemo.dao.mybatis.CityMapper">
    <resultMap id="BaseResultMap" type="com.example.bootdemo.pojo.entity.City">
        <result column="id" property="id" />
        <result column="province_id" property="provinceId" />
        <result column="city_name" property="cityName" />
        <result column="description" property="description" />
    </resultMap>

    <parameterMap id="City" type="com.example.bootdemo.pojo.entity.City"/>

    <sql id="Base_Column_List">
        id, province_id, city_name, description
    </sql>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from city
        where city_name = #{cityName}
    </select>
    <select id="findCitys" resultMap="BaseResultMap" >
       SELECT
       <include refid="Base_Column_List"/>
        FROM  city
    </select>
    
    <select id="findOne" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM city
        WHERE id = #{id}
    </select>
    <!--MyBatis 获取由数据库自动生成的主键；-->
    <insert id="insert" parameterMap="City" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        city(id,province_id,city_name,description)
        VALUES (#{id},#{provinceId},#{cityName},#{description})
    </insert>
    <update id="update">
       UPDATE city
       SET
       <if test="provinceId != null">
           province_id = #{provinceId}
       </if>
        <if test="cityName != null">
            city_name = #{cityName}
        </if>
        <if test="description != null">
            province_id = #{description}
        </if>
        where
        id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM
        city
        WHERE id = #{id}
    </delete>
</mapper>